alias R='clear && R --no-save --no-restore-data --quiet'
alias P="clear && ipython3"
alias pinstall="pip3 install --user --upgrade"
alias open="xdg-open"
alias ll="ls -la"

alias gc="git clone"
alias gs="git status"
alias ga="git add"
alias gco="git checkout"
alias gpush="git push"
alias gpull="git pull"
alias gl="git log --pretty=format:'%ad | %s%d [%an]' --graph --date=short"
