[user]
    name = Janek Thomas
    email = janek.tho@gmail.com
[github]
    user = ja-thomas
[bitbucket]
    user = ja-thomas
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[merge]
    tool = meld
[mergetool]
    prompt = false
[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto
    interactive = auto
[push]
	default = simple
